@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap");
body {
  --cor-disciplina: rgb(40, 145, 221);
}

.shadow-filter {
  -webkit-filter: drop-shadow(0px 2px 2px rgba(24, 18, 72, 0.3));
          filter: drop-shadow(0px 2px 2px rgba(24, 18, 72, 0.3));
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

body {
  font-family: 'Lexend', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #262537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdfdfa;
}

body .content {
  max-width: min(100vw, 450px);
  overflow-x: hidden;
  background-color: #fdfdfa;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-bottom: 64px;
}

body .content h1 {
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 30px;
}

body .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content form select {
  background-color: none;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: unset;
  margin-top: 5px;
  padding: 16px 20px;
  -webkit-text-stroke: 0.5px;
  color: unset;
  text-transform: uppercase;
  position: relative;
  border: 1px solid #757575;
}

body .content form select::after {
  content: "V";
  color: #000;
  position: absolute;
  left: 10px;
  top: 2px;
  width: 10px;
  height: 10px;
  background-color: #a9cf55;
  border-radius: 50%;
}

body .content form select option {
  background-color: unset;
  width: 100%;
}

body .content form label[for="conhecimento"] {
  margin-top: 10px;
}

body .content form .slider-container {
  z-index: 3;
  margin-top: 10px;
  position: relative;
  width: 100%;
  text-align: justify;
}

body .content form .slider-container .slider {
  z-index: 1;
  position: absolute;
  left: -5px;
  top: 0;
  width: calc(100% + 10px);
  margin-top: 10px;
  outline: none;
  -webkit-appearance: none;
  height: 2px;
  background-color: #262537;
}

body .content form .slider-container .slider::-webkit-slider-thumb {
  z-index: 4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 15px;
  height: 15px;
  background-color: #262537;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

body .content form .slider-container span {
  width: 100%;
  height: 1em;
  display: inline-block;
}

body .content form label[for="sentimento"] {
  margin-top: 10px;
}

body .content form > h2 {
  display: none;
}

body .content form label[for="comentario"] {
  margin-top: 15px;
}

body .content .sentimentBox {
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(calc(2 * 120px) + 10px);
}

body .content .sentimentBox .sentimentKind {
  text-align: center;
  word-wrap: break-word;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(24, 18, 72, 0.3);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .sentimentBox .category {
  --background-color: #757575;
  background-color: var(--background-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: calc(50% - 5px);
  height: 120px;
  position: absolute;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}

body .content .sentimentBox .category.box1 {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  --background-color: #f3cc49;
  left: 0;
  top: 0;
}

body .content .sentimentBox .category.box2 {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  --background-color: #a9cf55;
  left: calc(50% + 5px);
  top: 0;
}

body .content .sentimentBox .category.box3 {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  --background-color: #57b0ca;
  top: calc(120px + 10px);
  left: 0;
}

body .content .sentimentBox .category.box4 {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  --background-color: #f14440;
  top: calc(120px + 10px);
  left: calc(50% + 5px);
}

body .content .sentimentBox .category > div {
  background-color: var(--background-color);
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 50%;
  height: calc(120px / 2);
  position: absolute;
  display: inline-block;
  z-index: 1;
  opacity: 0;
}

body .content .sentimentBox .category > div p {
  display: none;
  word-wrap: break-word;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(24, 18, 72, 0.3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0px;
  -webkit-text-stroke: 0.5px;
}

body .content .sentimentBox .category > div.box1 {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  left: 0;
  top: 0;
}

body .content .sentimentBox .category > div.box2 {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  left: 50%;
  top: 0;
}

body .content .sentimentBox .category > div.box3 {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  top: calc(120px / 2);
  left: 0;
}

body .content .sentimentBox .category > div.box4 {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  top: calc(120px / 2);
  left: 50%;
}

body .content .sentimentBox label[for="intensidade"] {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  --color: #fff0;
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
  color: var(--color);
  position: absolute;
  display: inline-block;
  top: 65%;
  text-align: center;
  width: 100%;
}

body .content .sentimentBox .slider-container {
  width: 90%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  --base-color: #fff;
  color: var(--base-color);
}

body .content .sentimentBox .slider-container .slider {
  background-color: #fff;
}

body .content .sentimentBox .slider-container .slider::-webkit-slider-thumb {
  background-color: var(--base-color);
}

body .content .sentimentBox.category-selected .category {
  z-index: 0;
  background: none;
}

body .content .sentimentBox.category-selected .category:not(.selected) {
  -webkit-transform: scale(0) rotate(180deg);
          transform: scale(0) rotate(180deg);
}

body .content .sentimentBox.category-selected .category h3 {
  display: none;
}

body .content .sentimentBox.category-selected .category.selected {
  width: 100%;
  height: calc(calc(2 * 120px) + 10px);
  left: 0;
  top: 0;
}

body .content .sentimentBox.category-selected .category.selected > div {
  border-radius: 15px;
  height: 120px;
  width: calc(50% - 5px);
  opacity: 1;
  overflow: hidden;
}

body .content .sentimentBox.category-selected .category.selected > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0) rotate(10deg);
          transform: scale(0) rotate(10deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

body .content .sentimentBox.category-selected .category.selected > div.box2, body .content .sentimentBox.category-selected .category.selected > div.box4 {
  left: calc(50% + 5px);
}

body .content .sentimentBox.category-selected .category.selected > div.box3, body .content .sentimentBox.category-selected .category.selected > div.box4 {
  top: calc(120px + 10px);
}

body .content .sentimentBox.category-selected .category.selected > div.selected {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

body .content .sentimentBox.category-selected .category.selected.avaliable > div p {
  font-size: 18px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .content .sentimentBox.sentiment-selected label[for="intensidade"] {
  --color: #fff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  text-shadow: 0px 2px 2px rgba(24, 18, 72, 0.3);
}

body .content .sentimentBox.sentiment-selected .slider-container {
  top: 80%;
}

body .content .sentimentBox:not(.sentiment-selected) label[for="intensidade"] {
  pointer-events: none;
}

body .content textarea {
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #757575;
}

body .content button[type="submit"] {
  --background-color: #d3d3d3;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #757575;
  background-color: var(--background-color);
  color: #757575;
  font-size: 18px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: start;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .content button[type="submit"]::after {
  content: "▶";
  opacity: 0.8;
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  border-radius: 50%;
}

body .content button[type="submit"].sentiment-selected {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(24, 18, 72, 0.3);
  cursor: pointer;
  border: 1px solid var(--color);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.insight-status {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insight-status #update_insights {
  padding: 25px 30px;
  border: 1px solid #757575;
  border-radius: 10px;
}

.insight-status #update_insights span {
  margin-right: 10px;
}

.content.snap {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.content.snap .insight {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  /* simple breathing animation */
}

.content.snap .insight[data-page="2"] {
  background-color: #dfdfda;
}

.content.snap .insight[data-page="3"] {
  background-color: #fdfdfa;
}

.content.snap .insight[data-page="4"] {
  background-color: #dfdfda;
}

.content.snap .insight h1 {
  margin: 10px;
}

.content.snap .insight #input_disciplina {
  width: 100%;
  padding: 30px 25px;
  background-color: var(--cor-disciplina);
  color: #fff;
  font-size: 21px;
  text-shadow: 0px 2px 2px rgba(24, 18, 72, 0.3);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
}

.content.snap .insight button {
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: capitalize;
}

.content.snap .insight .scroll-down-tip {
  position: absolute;
  bottom: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100vw;
}

.header .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f3cc49;
}

.footer {
  height: 64px;
  background: #fdfdfa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer a {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=App.css.map */